[submodule "content/plugins"]
	path = content/plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
