blockquote {
  border-left: 4px solid var(--green);
  padding-left: 16px;
  margin: 16px 0;
  color: #6c757d;
  font-size: 1.1em;
  font-style: italic;   
}

/* =========================================================
   LAYOUT GLOBAL BLOG
========================================================= */

.inner {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 2em;
}

.container {
    position: relative;
}

.container .post {
    padding: 4em 0;
}

.container .post:after {
    position: absolute;
    width: 32em;
    height: 1px;
    left: 50%;
    bottom: 0;
    margin-left: -16em;
    content: '';
    background: #e5e4e1;
}


/* =========================================================
   HEADER BLOG
========================================================= */

@supports ((-ms-flex-wrap: wrap) or (flex-wrap: wrap)) {
  body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 100vh
  }
  #wrapper, #blog-header, #post-header {
      -ms-flex: 1;
      flex: 1
  }
}

#post-header {
  position: relative;
  padding-top: 3em
}

#post-header.has-cover {
  padding: 16em 0 2em;
  background: #000;
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
}

#wrapper, #blog-header, #post-header {
  position: relative;
  padding-right: 0;
  transition: all ease-out 0.25s
}

#wrapper .hidden-close {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 350
}

/* =========================================================
   MENU
========================================================= */

.menu-active #wrapper,
.menu-active #blog-header,
.menu-active #post-header {
  padding-right: 16em
}

.menu-active #wrapper .hidden-close {
  display: block
}

.menu-active #menu-button {
  display: none;
}

#menu {
  position: fixed;
  width: 16em;
  height: 100%;
  top: 0;
  right: 0;
  background: #f2f2f0;
  border-left: 1px solid #e5e4e1;
  z-index: 400;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
  box-shadow: inset -2px 0 7px rgba(0, 0, 0, 0.1);
  transform: translate3d(16em, 0, 0);
  transition: all ease-out 0.25s
}

.menu-active #menu {
  transform: translate3d(0, 0, 0)
}

#menu .close-button {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  right: 0;
  margin: 1em;
  border: 1px solid #c2c7cc;
  color: transparent;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 2em;
  box-sizing: border-box;
  z-index: 500
}

#menu .close-button:hover,
#menu .close-button:focus {
  transform: rotate(180deg);
  border-color: var(--blue)
}

#menu .close-button:after,
#menu .close-button:before {
  position: absolute;
  width: 1em;
  height: 1px;
  left: 50%;
  top: 50%;
  margin-left: -0.5em;
  content: '';
  background: #8a9199;
  transition: all ease 0.3s
}

#menu .close-button:hover:after,
#menu .close-button:hover:before,
#menu .close-button:focus:after,
#menu .close-button:focus:before {
  background: var(--blue)
}

#menu .close-button:after {
  transform: rotate(45deg)
}

#menu .close-button:before {
  transform: rotate(-45deg)
}

#menu .nav-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box
}

#menu .nav-label {
  display: block;
  padding: 1.666em 2em;
  margin: 0;
  opacity: 0.5;
  font-size: 0.75em;
  line-height: 2em
}

#menu ul {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 0
}

#menu li {
  position: relative
}

#menu li:before {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 1.5em;
  bottom: 0;
  margin: auto;
  content: '';
  background: rgba(0, 0, 0, 0.1)
}

#menu li:last-child:before {
  display: none
}

#menu li.active:after {
  position: absolute;
  content: '';
  width: 0.2em;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--blue)
}

#menu li a {
  display: block;
  padding: 1.25em 1.5em;
  color: #212226;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400
}

#menu li a:hover,
#menu li a:focus {
  color: #000;
  background: rgba(0, 0, 0, 0.05)
}

#menu li a i {
  position: relative;
  top: -0.25em;
  font-size: 0.5em;
  color: inherit
}

#menu li.active a {
  color: #000;
  font-weight: 500
}

.blog-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background: no-repeat center/cover #000;
  animation: .5s ease-in forwards fadein;
}

.blog-cover:after {
  position: absolute;
  width: 100%;
  height: 6em;
  left: 0;
  bottom: 0;
  z-index: 8;
  content: '';
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,.5) 100%);
}

.blog-logo {
  position: fixed;
  max-width: 14em;
  left: 0;
  top: 0;
  margin: 2em;
  z-index: 200;
}

.blog-logo img {
  display:block;
  margin:0 auto;
}

.blog-name {
  position: relative;
  display: block;
  z-index: 10;
  margin: 0;
  padding: 0.5em 1em 0em;
  font-weight: 700;
  font-size: 3em;
  line-height: 1em;
  color: rgb(119, 118, 118);
  text-decoration: none;
  text-align: center;
}

.home-template .blog-name{
  font-size:3em;
}

.has-cover .blog-name{
  color:#fff;
}

.blog-name a {
  text-decoration: none;
  font-weight: inherit;
  color: inherit
}

.blog-description {
  text-align: center;
  position: relative;
  display: block;
  z-index: 10;
  margin: 0.25em 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5em
}

.home-template .blog-description {
  font-size: 1.5em
}

.has-cover .blog-description {
  color:#fff;
}


.progress-container {
  position: fixed;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
  z-index: 1000;
  background: transparent;
  transition: opacity ease-out 1s
}

.progress-container.ready {
  opacity: 0.2
}

.progress-bar {
  display: block;
  width: 0;
  height: 1px;
  background: var(--blue);
  box-shadow: 0 0 1px var(--blue), 0 0 3px var(--blue)
}

/* =========================================================
   POSTS
========================================================= */

.post {
  position: relative;
  padding-top: 6em;
  z-index: 10
}

.post-title {
  position: relative;
  z-index: 10;
  margin: 0 0 0.5em;
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  text-indent: -1px;
  color: var(--blue)
}


.post-title a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit
}

.post-title a:hover,
.post-title a:focus {
  color: var(--green);
  border-color: var(--green)
}

.has-cover .post-title {
  color: #fff
}

.post-meta {
  position: relative;
  z-index: 10;
  display: block;
  margin-bottom: 1.333em;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.333em;
  opacity: 0.5
}

.has-cover .post-meta {
  color: #fff;
  opacity: 0.75
}

.post-meta a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid transparent
}

.post-meta a:hover,
.post-meta a:focus {
  border-color: rgba(0, 0, 0, 0.5)
}

.has-cover .post-meta a:hover,
.has-cover .post-meta a:focus {
  border-color: rgba(255, 255, 255, 0.5)
}

.post-excerpt{
  padding:1em 0 !important;
}

.post-excerpt p{
  margin:0;
}

.post-excerpt img{
  display:block;
  max-width:100%;
  height:auto;
  margin:1.5em auto;
}


.post-content{
  text-align:justify;
}

.post-content > :is(h1,h2,h3,h4,h5,h6){
  text-align:left;
}


.post-content img,
.post-content .fluid-width-video-wrapper{
  max-width: none;
  width:105%;
  margin-left:-2.5%;
}


.credits {
  text-align: center;
  font-size: 0.625em;
  line-height: 1em;
  padding: 1.1em 0;
  overflow: auto;
  opacity: 0.5
}

.post-info {
  margin-top: 6em;
  overflow: hidden
}

.post-share {
  max-width: 25%;
  float: right
}

.post-share a {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0.333em 0 0.333em 0.666em;
  padding: 0;
  float: left;
  font-size: 0.75em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 2px;
  transition: all ease 0.3s
}

.post-share a:hover,
.post-share a:focus {
  background-color: #212226
}

.post-share a i {
  color: inherit
}

.post-share a i:before {
  width: auto;
  height: auto
}

.post-share .twitter {
  background-color: #3ea9dd
}

.post-share .facebook {
  background-color: #3c5a98
}

.post-share .googleplus {
  background-color: #d14836
}

.credits a {
  color: inherit
}

.credits span {
  display: block
}

.credits-theme {
  float: left
}

.credits-software {
  float: right
}


#blog-author {
  position: relative;
  z-index: 40;
  margin: auto 6em
}

#blog-author:after {
  position: absolute;
  width: 32em;
  height: 1px;
  left: 50%;
  bottom: 0;
  margin-left: -16em;
  content: '';
  background: #e5e4e1
}

#blog-author .post-author {
  margin-top: -5em;
  padding-bottom: 3em;
  border: 0
}

#blog-author .post-author-avatar {
  width: 20%;
  margin: 0 2.5%
}

#blog-author.has-cover .post-author-avatar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
}

#blog-author.has-cover .post-author-avatar img {
  border: 0.125em solid #fff
}

#blog-author .post-author-name {
  padding: 0.333em 0 0;
  font-size: 2em;
  line-height: 1em
}

#blog-author.has-cover .post-author-name {
  padding: 0.333em 0;
  font-weight: 500;
  letter-spacing: 0.025em;
  line-height: 1.333em;
  color: #fff
}

#blog-author.has-cover .post-author-about {
  margin-top: 1.333em
}

/* =========================================================
   TAGS & SHARE
========================================================= */

.post-info{
  margin-top:6em;
  overflow:hidden;
}

.post-share{
  float:right;
  max-width:25%;
}

.post-share a{
  display:block;
  width:2em;
  height:2em;
  margin:.3em 0 .3em .6em;
  float:left;
  color:#fff;
  text-align:center;
  line-height:2em;
}

.post-share .twitter{background:#3ea9dd;}
.post-share .facebook{background:#3c5a98;}
.post-share .googleplus{background:#d14836;}

.post-tags{
  float:left;
  max-width:75%;
  font-family: 'Fira Sans', sans-serif
}

.post-tags a {
  display: inline-block;
  margin: 0 0.333em 0.666em 0;
  padding: 0.575em 1em;
  background: #fff;
  border: 1px solid var(--blue);
  font-size: 0.75em;
  font-weight: 500;
  line-height: 1.333em;
  text-align: center;
  text-decoration: none;
  color: var(--blue);
  border-radius: 2em;
  transition: all ease 0.3s;
  box-sizing: border-box
}

.post-tags a:hover,
.post-tags a:focus {
  background: var(--green);
  color: #fff
}

.container .post.featured .post-title:after {
  position: absolute;
  width: 1em;
  height: 1em;
  left: -1.75em;
  top: 0;
  margin-top: -0.25em;
  font-family: 'icons';
  font-size: 0.5em;
  font-style: normal;
  font-weight: normal;
  content: '\e800';
  color: inherit;
  text-align: center;
  color: #e5e4e1
}

.post.page {
  padding-bottom: 4em
}

/* =========================================================
   AUTHOR
========================================================= */

.post-author {
  position: relative;
  margin: 2em 0 0;
  padding: 2em 0;
  z-index: 10;
  border-top: 1px solid #e5e4e1;
  border-bottom: 1px solid #e5e4e1;
  clear: both
}

.post-author-avatar {
  position: relative;
  float: left;
  width: 15%;
  margin: -0.5em 0 0 5%;
  overflow: hidden;
  background: #fff;
  border-radius: 10em;
  box-sizing: border-box
}

.post-author-avatar img {
  width: 100%;
  margin: auto;
  border-radius: 10em;
  box-sizing: border-box
}

.post-author-bio {
  padding-left: 25%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.333em
}

.post-author-name {
  margin: 0;
  padding: 0;
  font-size: 1.333em;
  line-height: 1em;
  text-indent: inherit
}

.post-author-about {
  margin: 0.666em 0
}

.post-author-bio span {
  position: relative;
  font-size: 0.8em;
  display: inline-block;
  margin-top: 1.25em;
  margin-right: 1.25em;
  font-weight: 400;
  opacity: 0.5
}

.post-author-bio i {
  color: inherit
}

.post-author-bio a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
  border-bottom: 1px solid transparent
}

/* =========================================================
   COMMENTS
========================================================= */
.post-comments {
  position: relative;
  padding: 2em 0;
  text-align: center;
  border-bottom: 1px solid #e5e4e1;
  box-sizing: border-box
}

.post-comments.activated {
  margin: -1px 0 0;
  padding: 1em;
  background: #faf9f7;
  border: 1px solid #e5e4e1
}

.post-comments-activate {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1.25em;
  border: 1px solid #c2c7cc;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.75em;
  line-height: 1.333em;
  color: #8a9199;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.3s;
  border-radius: 2em
}

.post-comments-activate:hover,
.post-comments-activate:focus {
  color: var(--blue);
  border-color: var(--blue)
}

.activated .post-comments-activate {
  display: none
}


/* =========================================================
   NAV PREV / NEXT
========================================================= */
.post-nav {
  position: relative;
  border-bottom: 1px solid #e5e4e1
}

.post-nav:after {
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background: #e5e4e1;
  z-index: 2
}

.post-nav-next,
.post-nav-prev {
  display: block;
  width: 50%
}

.post-nav-next {
  float: left
}

.post-nav-prev {
  float: right
}

.post-nav-teaser {
  padding: 1.5em 0;
  min-height: 6em
}

.post-nav-next .post-nav-teaser {
  padding-right: 1em
}

.post-nav-prev .post-nav-teaser {
  padding-left: 1em
}

.post-nav i {
  position: absolute;
  top: 50%;
  width: 2em;
  height: 2em;
  margin-top: -1em;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  transition: all ease-out 0.3s;
  color: #e5e4e1
}

.post-nav-next i {
  left: 0;
  margin-left: -1.75em
}

.post-nav-prev i {
  right: 0;
  margin-right: -1.75em
}

.post-nav a:hover i,
.post-nav a:focus i {
  color: var(--blue)
}

.post-nav-title {
  margin: 0 0 0.5em;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  color: inherit
}

.post-nav-excerpt {
  margin: 0;
  font-size: 0.75em;
  line-height: 1.333em
}


/* =========================================================
   PAGINATION
========================================================= */

.pagination {
  position: relative;
  height: 2em;
  margin: 0;
  padding: 2em 0;
  font-family: 'Fira Sans', sans-serif;
  box-sizing: content-box;
  display: block;
}

.pagination:after {
  position: relative; 
  width: 50%;
  height: 1px;
  left: 75%;
  bottom: -60px;
  margin-left: -50%;
  content: '';
  background: #e5e4e1; 
  display: block;
}

.pagination a {
  position: relative;
  display: block;
  height: 1.333em;
  margin: -1px 0;
  padding: 0.666em 1em;
  z-index: 100;
  border: 1px solid #c2c7cc;
  font-size: 0.75em;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #8a9199;
  transition: all ease 0.3s;
  border-radius: 2em
}

.pagination .pagination-prev {
  float: right;
  padding-left: 1.333em;
  box-sizing:content-box;

}

.pagination .pagination-next {
  float: left;
  padding-right: 1.333em;
  box-sizing:content-box;
}

.pagination a:hover,
.pagination a:focus {
  color: var(--blue);
  border-color: var(--blue)
}

.pagination .pagination-label {
  position: relative;
  display: inline-block;
  height: 1em;
  line-height: 1em
}

.pagination a i {
  position: relative;
  width: auto;
  top: -1px;
  margin: auto;
  color: inherit;
  font-size: 0.75em;
  line-height: 1.333em
}

.pagination .pagination-info {
  position: absolute;
  width: 100%;
  height: 2.666em;
  left: 0;
  z-index: 50;
  display: block;
  font-size: 0.75em;
  line-height: 2.666em;
  text-align: center
}

.extra-pagination {
  display: none
}

.extra-pagination .pagination:after {
  top: auto;
  bottom: 0
}

.archive-template .extra-pagination {
  display: block
}


/* =========================================================
   TOC ET MENU CATEGORIES PAGE INDEX
========================================================= */

.toc {
  position: fixed;
  top: 15em;
  left: 50%;
  margin-left: 25em; 
  background: none;
  border-right: none;
  padding: 0em;
  width: 20em;
  text-align: left !important;
  z-index: 9999;
}


/* titre */
.toc .toctitle {
  padding: 0 0.1em;
  font-weight: bold;
  color: var(--green);
  font-size: 120%;
}

/* lien actif */
.toc li.active > a {
  color: var(--green);
  /* font-weight: 500; */
}

/* liens */
.toc a {
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 0.2em 1em 0.2em 0.4em;
  color: rgb(119, 118, 118);
  transition: all 50ms ease-in-out;
  border-bottom: none;
  margin: 0;
}

/* bloc entier indenté */
.toc ul {
  list-style: none;
  padding-left: 1em;
}

/* items */
.toc li {
  position: relative;
  padding: 0.12em 0 0.12em 0.3em;
  margin: 0;
}

/* segment de l’item */
.toc li::before {
  content: "";
  position: absolute;
  left: -0.6em;
  top: 0;
  height: 100%;
  width: 3px;
  background: #ddd;
}

/* segment de l’item actif au hover */
.toc li:hover::before {
  background: var(--green);
}

.toc ul ul li::before,
.toc ul ul ul li::before {
  width: 2px !important;
  left: -0.4em !important;
}

/* actif */
.toc li.active::before {
  background: var(--green);
}

/* hover */
.toc a:hover,
.toc a:focus {
  color: var(--blue);
}

/** pas de toc sur mobile **/
@media only screen and (max-width: 1400px) {
  .toc {
    display: none !important;
  }
}

/* =========================================================
   MENU CATEGORIES PAGE INDEX
========================================================= */
.nav_index {
  position: fixed;
  top: 15em;
  left: 50%;
  margin-left: 25em; 
  background: none;
  border-right: none;
  padding: 0em;
  width: 20em;
  text-align: left !important;
  z-index: 9999;
}

.nav_index .nav_indextitle {
  padding: 0 0.1em;
  font-weight: bold;
  color: var(--green);
  font-size: 120%;
}

.nav_index li.active > a {
  color: var(--green);
}

.nav_index a {
  font-weight: normal;
  text-decoration: none;
  display: block;
  padding: 0.2em 1em 0.2em 0.4em;
  color: rgb(119, 118, 118);
  transition: all 50ms ease-in-out;
  border-bottom: none;
  margin: 0;
}

.nav_index ul {
  list-style: none;
  padding-left: 1em;
}

.nav_index li {
  position: relative;
  padding: 0.12em 0 0.12em 0.3em;
  margin: 0;
}

.nav_index li::before {
  content: "";
  position: absolute;
  left: -0.6em;
  top: 0;
  height: 100%;
  width: 3px;
  background: #ddd;
}

.nav_index li:hover::before {
  background: var(--green);
}

.nav_index ul ul li::before,
.nav_index ul ul ul li::before {
  width: 2px !important;
  left: -0.4em !important;
}

.nav_index li.active::before {
  background: var(--green);
}

.nav_index a:hover,
.nav_index a:focus {
  color: var(--blue);
}

@media only screen and (max-width: 1400px) {
  .nav_index {
    display: none !important;
  }
}


/* =========================================================
   TAG CLOUD
========================================================= */

.tag-cloud {
  text-align: center;
  margin-bottom: 3em;
}

.tag {
  display: inline-block;
  padding: 0.2em 0.15em;
  vertical-align: middle;
}

.tag-weight-1  { font-size: 100%; }
.tag-weight-2  { font-size: 120%; }
.tag-weight-3  { font-size: 140%; }
.tag-weight-4  { font-size: 160%; }
.tag-weight-5  { font-size: 180%; }
.tag-weight-6  { font-size: 200%; }
.tag-weight-7  { font-size: 220%; }
.tag-weight-8  { font-size: 240%; }
.tag-weight-9  { font-size: 260%; }
.tag-weight-10 { font-size: 280%; }


/* =========================================================
   RESPONSIVE
========================================================= */
@media only screen and (max-width: 1470px) {
  #wrapper, #blog-header, #post-header {
      transform: translate3d(0, 0, 0)
  }
  .menu-active #wrapper,
  .menu-active #blog-header,
  .menu-active #post-header {
      padding-right: 0;
      transform: translate3d(-16em, 0, 0)
  }
  .blog-logo,
  .nav-button {
      position: absolute
  }
  #blog-author {
      margin: auto
  }
}

@media only screen and (max-width: 640px) {

  .post-share,
  .post-tags {
      max-width: none;
      float: none;
      margin: 0 0 2em
  }
  .post-share a {
      margin-left: 0;
      margin-right: 0.666em
  }
  .post-nav i {
      font-size: 1.5em
  }
}

@media only screen and (max-width: 480px) {
  .inner {
      padding: 0 16px
  }
  .post-template #main-header {
      padding: 16px 0
  }
  #main-nav a {
      margin: 16px
  }
  .post-author-avatar {
      margin: -0.25em 0 0 0.5em
  }
  .container .post.featured .post-title:after {
      left: 0;
      top: -1.75em
  }
  .post-content img,
  .post-content .fluid-width-video-wrapper {
      width: 100%;
      margin-left: auto
  }
  .post-nav:after {
      display: none
  }
  .post-nav-next,
  .post-nav-prev {
      display: block;
      width: 100%
  }
  .post-nav-teaser {
      position: relative;
      min-height: 4em;
      padding: 2em 0
  }
  .post-nav-next .post-nav-teaser:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      margin-bottom: -1px;
      background: #e5e4e1;
      z-index: 2
  }
  .post-nav-next .post-nav-teaser {
      padding-right: 0;
      padding-left: 1.5em
  }
  .post-nav-prev .post-nav-teaser {
      padding-left: 0;
      padding-right: 1.5em
  }
  .post-nav-next i {
      margin-left: -1em
  }
  .post-nav-prev i {
      margin-right: -1em
  }
}

@media only screen and (max-width: 320px) {
  .pagination .pagination-label {
      display: none
  }
}


/* =========================================================
   FONT-FACE
========================================================= */

@font-face {
  font-family: 'icons';
  src: url("../font/icons.eot?51058516");
  src: url("../font/icons.eot?51058516#iefix") format("embedded-opentype"), url("../font/icons.woff?51058516") format("woff"), url("../font/icons.ttf?51058516") format("truetype"), url("../font/icons.svg?51058516#icons") format("svg");
  font-weight: normal;
  font-style: normal
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em
}

.ic-star:before {
  content: '\e800'
}

.ic-rss:before {
  content: '\e801'
}

.ic-posts:before {
  content: '\e802'
}

.ic-location:before {
  content: '\e803'
}

.ic-link:before {
  content: '\e804'
}

.ic-googleplus:before {
  content: '\e805'
}

.ic-facebook:before {
  content: '\e806'
}

.ic-arrow-right:before {
  content: '\e807'
}

.ic-arrow-left:before {
  content: '\e808'
}

.ic-twitter:before {
  content: '\e809'
}

.ic-menu:before {
  content: '\e80a'
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: local("Cardo"), local("Cardo-Regular"), url("//fonts.gstatic.com/s/cardo/v8/f9GbO0_LnwwuaRC6yAh0JKCWcynf_cDxXwCLxiixG1c.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/c6Zi_ulq7hv-avk-G9Yut6CWcynf_cDxXwCLxiixG1c.woff") format("woff")
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: local("Cardo Bold"), local("Cardo-Bold"), url("//fonts.gstatic.com/s/cardo/v8/X-1BEHTKpRYzad3JEXy9-nYhjbSpvc47ee6xR_80Hnw.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/gHC1KgRPdVNdvvVcxLMCY3YhjbSpvc47ee6xR_80Hnw.woff") format("woff")
}

@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: 400;
  src: local("Cardo Italic"), local("Cardo-Italic"), url("//fonts.gstatic.com/s/cardo/v8/aRpKelDgx13ov6asvC3QbgLUuEpTyoUstqEm5AMlJo4.woff2") format("woff2"), url("//fonts.gstatic.com/s/cardo/v8/mSKSxAIybPTfRoik7xAeTQLUuEpTyoUstqEm5AMlJo4.woff") format("woff")
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url("//fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQbO3LdcAZYWl9Si6vvxL-qU.woff") format("woff")
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), local("FiraSans-Medium"), url("//fonts.gstatic.com/s/firasans/v5/zM2u8V3CuPVwAAXFQcDi4Bampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/zM2u8V3CuPVwAAXFQcDi4KRDOzjiPcYnFooOUGCOsRk.woff") format("woff")
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url("//fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2") format("woff2"), url("//fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOqRDOzjiPcYnFooOUGCOsRk.woff") format("woff")
}


/* =========================================================
   TABLES
========================================================= */


table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}


kbd {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 1px 8px;
  border: #e5e4e1 1px solid;
  color: #45484d;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #faf9f7;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset
}

table {
  max-width: 100%;
  margin: 2em auto;
  background-color: transparent;
  border: 1px solid transparent;
  display: block; 
  overflow-x: auto;
  white-space: nowrap
}

table th,
table td {
  position: relative;
  padding: 0.5em;
  line-height: 1.5em;
  text-align: left;
  font-size: 0.6em;
  border: 1px solid #e5e4e1
}

table th {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 0.6em;
  line-height: 1.25em;
  padding: 0.666em;
  color: #000
}

table td:after {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  padding: 1px;
  z-index: -1;
  content: '';
  background: #faf9f7
}

.table-no-scroll {
  table-layout: auto;
  width: 100%;
  white-space: normal;
  word-break: break-word;
}

.table-no-scroll td,
.table-no-scroll th {
  padding: 0.5em;
  vertical-align: top;
  text-align: left;
}

.break-word {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}





.page-template #footer:after {
  position: absolute;
  width: 32em;
  height: 1px;
  left: 50%;
  top: 0;
  margin-left: -16em;
  content: '';
  background: #e5e4e1
}

.post-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  background: no-repeat scroll center center/cover #000;
  animation: 0.5s ease-in forwards fadein
}

.post-cover:after {
  position: absolute;
  width: 100%;
  height: 12em;
  left: 0;
  bottom: 0;
  z-index: 8;
  content: '';
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%)
}


