{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
{% endblock %}

{% block navbar_blog_active %}active{% endblock %}


{% block header %}
<section class="page-section" id="home">

      <!-- {% if selected_cover %}-->
        <!-- <div class="blog-cover cover" style="background-image: url('{{ selected_cover }}')"> -->
      <!-- {% elif selected_color %}
        <div class="blog-cover cover" style="background-color: url('{{ selected_color }}')">
      {% endif %}  -->

    <div class="nav_accueil"><span class="nav_title">Par catégorie</span>
      {% for cat, articles in categories|sort %}
            <ul><li><a href="/{{ cat.url }}">{{ cat }} ({{ articles|count }} article{% if articles|length > 1 %}s{% endif %})</a></li></ul>
      {% endfor %}
      
      <!-- <span class="nav_title">Par tag</span>
      {% for tag, articles in tags|sort %}
            <a href="/{{ tag.url }}">{{ tag }} ({{ articles|count }} article{% if articles|length > 1 %}s{% endif %})</a>
      {% endfor %} -->
    </div>



{% endblock header %}


{% block content %}

<div id="index" class="container">
    <h1 class="blog-name">Statistiques et Data Science : Études de cas en R et Python</a></h1>
  {% include "partials/loop.html" %}

</div>

{% endblock content %}

</section>