/* to make lines scroll instead of wrap */
/* from http://stackoverflow.com/a/23393920 */

pre {
  white-space: pre;
  overflow: auto;
  word-wrap: normal; /* horizontal scrolling */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  background: #343642;
  color: #C1C2C3;
}
 

.highlight pre code * {
  white-space: inherit;    /* this sets all children inside to nowrap */
}

.highlight pre {
  overflow-x: auto;       /* this sets the scrolling in x */
  overflow-y: auto;       /* this sets the scrolling in y */
  max-height: 25em;
}

.highlight pre code {
  white-space: pre;       /* forces <code> to respect <pre> formatting */
}


/*
 * GitHub style for Pygments syntax highlighter, for use with Jekyll
 * Courtesy of GitHub.com
 */

.highlight pre, pre, .highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.highlight .c { color: rgb(0,152,117); font-style: italic; }
.highlight .err { color: rgb(52,107,179); background-color: #e3d2d2; }
.highlight .k { color: rgb(52,107,179); font-weight: bold; }
.highlight .o { color: rgb(52,107,179); font-weight: bold; }
.highlight .cm { color: rgb(0,152,117); font-style: italic; }
.highlight .cp { color: rgb(0,152,117); font-weight: bold; }
.highlight .c1 { color: rgb(0,152,117); font-style: italic; }
.highlight .cs { color: rgb(0,152,117); font-weight: bold; font-style: italic; }
.highlight .gd { color: #000000; background-color: #ffdddd; }
.highlight .gd .x { color: #000000; background-color: #ffaaaa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #aa0000; }
.highlight .gh { color: #999999; }
.highlight .gi { color: #000000; background-color: #ddffdd; }
.highlight .gi .x { color: #000000; background-color: #aaffaa; }
.highlight .go { color: #888888; }
.highlight .gp { color: #555555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #800080; font-weight: bold; }
.highlight .gt { color: #aa0000; }
.highlight .kc { color: rgb(52,107,179); font-weight: bold; }
.highlight .kd { color: rgb(52,107,179); font-weight: bold; }
.highlight .kn { color: rgb(52,107,179); font-weight: bold; }
.highlight .kp { color: rgb(52,107,179); font-weight: bold; }
.highlight .kr { color: rgb(52,107,179); font-weight: bold; }
.highlight .kt { color: #445588; font-weight: bold; }
.highlight .m { color: #009999; }
.highlight .s { color: #dd1144; }
.highlight .n { color: #333333; }
.highlight .na { color: teal; }
.highlight .nb { color: #0086b3; }
.highlight .nc { color: #445588; font-weight: bold; }
.highlight .no { color: teal; }
.highlight .ni { color: purple; }
.highlight .ne { color: rgb(52,107,179); font-weight: bold; }
.highlight .nf { color: rgb(52,107,179); font-weight: bold; }
.highlight .nn { color: #555555; }
.highlight .nt { color: navy; }
.highlight .nv { color: teal; }
.highlight .ow { color: rgb(52,107,179); font-weight: bold; }
.highlight .w { color: #bbbbbb; }
.highlight .mf { color: #009999; }
.highlight .mh { color: #009999; }
.highlight .mi { color: #009999; }
.highlight .mo { color: #009999; }
.highlight .sb { color: #dd1144; }
.highlight .sc { color: #dd1144; }
.highlight .sd { color: #dd1144; }
.highlight .s2 { color: #dd1144; }
.highlight .se { color: #dd1144; }
.highlight .sh { color: #dd1144; }
.highlight .si { color: #dd1144; }
.highlight .sx { color: #dd1144; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #dd1144; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999999; }
.highlight .vc { color: teal; }
.highlight .vg { color: teal; }
.highlight .vi { color: teal; }
.highlight .il { color: #009999; }
.highlight .gc { color: #999; background-color: #EAF2F5; }
